# Virtual environments
.venv/
venv/

# Env
.env
*.env
.env.*

# Bytecode
__pycache__/

# Model & embedding caches
*.npy
*.npz

# HuggingFace caches
.cache/
huggingface/

# General Python junk
*.pyc
*.pyo

# Some vague testing stuff
tests/dump_messages.py 
messages_dump.json