# Virtual environments
.venv/
venv/

# Env
.env
*.env
.env.*

# Bytecode
__pycache__/

# Model & embedding caches
data_cache/
*.npy
*.npz

# HuggingFace caches
.cache/
huggingface/

# General Python junk
*.pyc
*.pyo
